.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #3f51b5 ;
  height:5em;
  padding: 1em 0 0 0;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.main_img{
  width: 5em;
  height: 5em;
  border: 2px solid #111;
}

.main-title{
  font-size: 3em;
  margin: 0;
}
